<app-navbar-second></app-navbar-second>
<app-sidebar></app-sidebar>

<section class="home-section">
  <h1 class="page-title">
    Favoris
  </h1>

  <div class="search-container-wrapper">
    <div class="search-info">
      <input type="text" class="name-speciality" placeholder="Name, Speciality...">
      <input type="text" name="Place" class="place" placeholder="Place...">
    </div>
    <div class="search-container">
      <input type="text" class="search" placeholder="Search...">
      <!-- <i class='bx bx-search-alt-2'></i> -->
    </div>
  </div>
  

</section>

<app-footer></app-footer>
