<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light" >
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:-30px ;margin-bottom:-30px ;">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0 mx-auto text-center" href="#">
                <img [src]="logourl" width="130" height="130" style="align-items: center;" />
            </a>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center" style="padding: 10px;">
            <!-- Add your right elements here -->
            <i class='bx bxs-bell-ring' style="font-size: 24px; margin-left: 20px;"></i>
            <i class='bx bxs-user' style="font-size: 24px; margin-left: 20px;"></i>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
